{% extends 'base.html' %}

{% block content %}
    <form id="employee-form" action="/add_employee" method="POST">
      <div class="form-row">
        <div class="col-7">
          <input type="text" class="form-control" placeholder="Name" name="name" id="name-field">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="State" name="state" id="state-field">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Department Code" name="dept_code" id="dept-code-field">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

    Updated employee list: <span id="new-list"></span>

    <script src="/static/employee.js"></script>
{% endblock %}