<!DOCTYPE html>
<html>
<head>
    <title>Employee Bank</title>
    <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script
        src="https://code.jquery.com/jquery-3.4.0.js"
        integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <a href="/">Home</a>
    <a href="/add_employee">Add Employee</a>
    <a href="/venue_search">Search for a Venue</a>

    {% block content %}Place content here.{% endblock %}

    {% for flash in get_flashed_messages() %}
        {{ flash }}
    {% endfor %}

</body>
</html>